<div>
    <input type="hidden" ng-model="customer.id" value="customer.id"/>
    <div>
        <label for="firstName">FirstName</label>
        <input tyoe="text" ng-model="customer.firstName" value="{{customer.firstName}}" />
    </div>
    <div>
        <label for="lastName">lastName</label>
        <input type="text" ng-model="customer.lastName" value="{{customer.lastName}}" />

    </div>
    <div>
        <label for="city">city</label>
        <input type="text" ng-model="customer.city" value="{{customer.city}}" />

    </div>
    <div>
        <label for="country">country</label>
        <input type="text" ng-model="customer.country" value="{{customer.country}}" />

    </div>
    <div>
        <label for="Phone">Phone</label>
        <input type="text" ng-model="customer.phone" value="{{customer.phone}}" />

    </div>

</div>